<footer class="site-footer container">

  <p>TaliCode | Automatización, CRM y desarrollo web</p>

  <div class="footer-links">
    <a href="/">Inicio</a>
    <a href="./pages/servicios.html">Servicios</a>
    <a href="./pages/contacto.html">Contacto</a>
  </div>

  <div class="footer-social">
    <a href="https://www.tiktok.com/@tali_code" target="_blank">TikTok</a>
    <a href="https://www.instagram.com/tali_code/" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/in/talia-rodrigues-20" target="_blank">LinkedIn</a>
    <a href="https://www.skool.com/vertice-b2b-1871" target="_blank">Skool</a>
  </div>

</footer>