<div class="tech-banner">
  <div class="tech-track">
    <span>GoHighLevel</span>
    <span>Automatizacion</span>
    <span>CRM</span>
    <span>Python</span>
    <span>Embudos</span>
    <span>Make</span>
    <span>Email Marketing</span>
    <span>Zapier</span>
    <span>Dashboards</span>
    <span>GoHighLevel</span>
    <span>Automatizacion</span>
    <span>CRM</span>
    <span>Python</span>
    <span>Embudos</span>
    <span>Make</span>
    <span>Email Marketing</span>
    <span>Zapier</span>
    <span>Dashboards</span>
  </div>
</div>
